# API-Framework & Server
fastapi
uvicorn

# OpenAI-API
openai>=1.0

# Templating & PDF
jinja2
weasyprint

# Umgebungsvariablen & Utils
python-dotenv
aiofiles
requests
markdown
beautifulsoup4

# Datenverarbeitung & Visualisierung
pandas
matplotlib


# PostgreSQL
psycopg2-binary
pyjwt

python-multipart
bcrypt
